// Families

.font-primary {
  font-family: $font-primary;
}

.font-text {
  font-family: $font-text;
}

// Sizes

.font-medium-1 {
  font-size: $font-medium-1;
}

.font-large-1 {
  font-size: $font-large-1;
}

.font-large-2 {
  font-size: $font-large-2;
}

// Weights

.light-weight {
  font-weight: 300;
}

// Colors

.text-white {
  color: white;
}

// Alignments

.text-center {
  text-align: center;
}
