html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Desafio Trinca Churras
    link(href="https://fonts.googleapis.com/css?family=Raleway:500,700,800" rel="stylesheet")
  body.bg-primary
    .grid
      div
        header.header-login
          h1.title Agenda de Churras
        main.container-small
          #section-login
            form
              .form-input
                label(for="email") Login
                input(id="email" type="email" placeholder="email") 
              .form-input
                label(for="password") Senha
                input(id="password" type="password" placeholder="senha") 
              .form-submit
                button.button-submit.w-100-per(type="submit") 
                  | Entrar
      footer.footer
        .logo
          .trinca-logo
