<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Desafio Trinca Churras
    link(href="https://fonts.googleapis.com/css?family=Raleway:500,700,800" rel="stylesheet")
  body.bg-primary
    #page-login
      header.header-login
        h1.title Agenda de Churras
      main.container-small
        #section-login
          form
            .form-input
              label Login
              input(type="email", placeholder="email") 
            .form-input
              label Senha
              input(type="password", placeholder="senha") 
            .form-submit
              button.button-submit.w-100-per(type="submit") 
                | Entrar
