.trinca-logo {
  background-image: url("../images/layout/trinca.svg");
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}

.money-icon {
  background-image: url("../images/layout/icon_money.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 20px;
  height: 25px;
}

.people-icon {
  background-image: url("../images/layout/icon_people.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 20px;
  height: 25px;
}

.churras-icon {
  background-image: url("../images/layout/icon_bbq.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 40px;
  height: 44px;
}
