@import "../../../assets/scss/_variables";

.partner {
  display: grid;
  grid-template-columns: 50px 1fr auto;
  grid-column-gap: 10px;
  align-items: center;
  border-bottom: 1px solid $color-primary-darker;
  padding: 10px 0;

  .circle {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid $color-primary-darker;
    justify-self: center;
  }

  .circle--full {
    background-color: $color-primary;
    border-color: $color-primary;
  }
}
