.detail-churras {
  padding: 21px 36px 46px 24px;
  min-height: 400px;

  .detail-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .icon-wrap {
    margin-top: 5px;
    margin-bottom: 22px;
  }
}
